RewriteEngine On

RewriteRule ^\.htaccess$ - [F]

RewriteCond %{REQUEST_URI} = ""
RewriteRule ^.*$ /public/index.php [NC,QSA,L]
RewriteCond %{REQUEST_URI} !^/?public/.*$
RewriteRule ^(.*)$ /public/$1
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^.*$ - [L]

RewriteRule ^public/.*$ /public/index.php [NC,L,QSA]
