<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-isntance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    forceCoverAnnotation="true"
    colors="true">
    <php>
        <var name="DB_NAME" value="twitchbots" />
        <var name="DB_HOST" value="localhost" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="" />
        <var name="DB_PORT" value="" />
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">Mini/Model</directory>
            <exclude>
                <file>Mini/Model/TypeCrawler/ShimTypeCrawler.php</file>
                <file>Mini/Model/TypeCrawler/Storage/ShimTypeCrawlerStorage.php</file>
                <file>Mini/Model/ShimStore.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml" />
    </logging>
</phpunit>
