<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="vendor/autoload.php">
    <php>
        <var name="DB_NAME" value="twitchbots" />
        <var name="DB_HOST" value="localhost" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="" />
        <var name="DB_PORT" value="" />
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">Mini/Model</directory>
            <exclude>
                <file>Mini/Model/TypeCrawler/ShimTypeCrawler.php</file>
                <file>Mini/Model/TypeCrawler/Storage/ShimTypeCrawlerStorage.php</file>
                <file>Mini/Model/ShimStore.php</file>
            </exclude>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-clover" target="clover.xml" />
    </logging>
</phpunit>
