<?xml version="1.0" encoding="UTF-8" ?>
<phpunit>
    <php>
        <var name="DB_NAME" value="twitchbots" />
        <var name="DB_HOST" value="localhost" />
        <var name="DB_USER" value="root" />
        <var name="DB_PASSWD" value="" />
        <var name="DB_PORT" value="" />
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">Mini/Model</directory>
            <file>public/index.php</file>
            <file>api/index.php</file>
        </whitelist>
    </filter>
</phpunit>
