.status-ok {
    color: green;
}

.status-nok {
    color: red;
}

.status-unknown {
    color: gray;
}

.status-ok, .status-unknown, .status-nok {
    cursor: default;
}

a .status-ok, a .status-unknown, a.status-nok {
    cursor: pointer;
}
