.status-ok {
    color: green;
}

.status-nok {
    color: red;
}

.status-unknown {
    color: gray;
}

.status-warning {
    color: orange;
}

.status-ok,
.status-unknown,
.status-nok,
.status-warning {
    cursor: default;
}

a .status-ok,
a .status-unknown,
a .status-nok,
a .status-warning {
    cursor: pointer;
}
