Header set X-Content-Type-Options "nosniff"
Header set X-XSS-Protection "1; mode=block"
Header set X-Frame-Options "DENY"
Header set Referrer-Policy "no-referrer-when-downgrade"

SetEnvIf Host ^(www\.)?twitchbots\.info$ MODE=production
Header set Strict-Transport-Security "max-age=10886400; includeSubDomains; preload" "expr=%{MODE} == 'production'"

<IfModule LiteSpeed>
  CacheEnable public /twitchbots/public

  CacheDisable public /twitchbots/public/lib
  CacheEnable private /twitchbots/public/lib

  CacheDisable public /twitchbots/public/submissions
  CacheEnable private /twitchbots/public/submissions
</IfModule>

RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA]
