{% macro alert(level, message) %}
    {% if level == 'success' %}
        {% set glyph = 'ok' %}
        {% set sr = 'Success' %}
    {% elseif level == 'danger' %}
        {% set glyph = 'exclamation-sign' %}
        {% set sr = 'Error' %}
    {% elseif level == 'info' %}
        {% set glyph = 'info-sign' %}
        {% set sr = 'Info' %}
    {% elseif level == 'warning' %}
        {% set glyph = 'alert' %}
        {% set sr = 'Warning' %}
    {% endif %}
<div class="alert alert-{{ level }}" role="alert">
    <span class="glyphicon glyphicon-{{ glyph }}" aria-hidden="true"></span>
    <span class="sr-only">{{ sr }}:</span>
    {{ message }}
</div>
{% endmacro %}
