{% macro businessModel(payment) %}
{% from "_table.twig" import status %}
{% spaceless %}
{% if payment is null %}
    {{ status(null) }}
{% elseif payment == 0 %}
    Free
{% elseif payment == 1 %}
    Lifetime license
{% elseif payment == 2 %}
    Subscription
{% elseif payment == 3 %}
    Transaction fees
{% else %}
    {{ status(null) }}
{% endif %}
{% endspaceless %}
{% endmacro %}
{% macro apiVersion(version) %}
{% from "_table.twig" import status %}
{% spaceless %}
{% if version is null %}
    {{ status(null) }}
{% elseif version == 0 %}
    <span class="badge badge-danger">Justin.tv API</span>
{%- elseif version == 1 %}
    <span class="badge badge-danger">Kraken v1</span>
{%- elseif version == 2 %}
    <span class="badge badge-danger">Kraken v3</span>
{%- elseif version == 3 %}
    <span class="badge badge-danger">Kraken v5</span>
{%- elseif version == 4 %}
    <span class="badge badge-secondary">Helix</span>
{%- elseif version == 5 %}
    <span class="badge badge-danger">Unsupported APIs</span>
{% else %}
    {{ status(null) }}
{% endif %}
{% endspaceless %}
{% endmacro %}
