{% extends "_base.twig" %}
{% block title %}About{% endblock %}
{% block content %}
<div>
    <h1>About this service</h1>
    <p class="lead">twitchbots.info is a service that tries to collect all moderator and other serivce bots used in chats on <a href="https://twitch.tv" rel="external">Twitch</a>. It is ran independently and developed as a hobby project.</p>
    <p>The main reason to collect accounts that are used as bots is to identify them as bots in Twitch chat clients. Another use case are bots that distribute points, which can ignore other bots using this directory.</p>
    <p>This site uses cookies to prevent submissions other than from the form on this site.</p>
    <p>Website by <a href="https://humanoids.be" rel="author">Martin Giger</a> based on <a href="https://github.com/panique/mini2" rel="external">Mini2</a> and <a href="https://github.com/twbs/bootstrap" rel="external">Bootstrap</a>. Source code lincensed under the MIT is available on <a href="https://github.com/freaktechnik/twitchbots/" rel="source">GitHub</a>.</p>
</div>
{% endblock %}
