{% extends "_base.twig" %}
{% block title %}About{% endblock %}
{% block extraresources %}
<link rel="canonical" href="{{ canonicalUrl }}about">
<link rel="stylesheet" type="text/css" href="{{ siteUrl("/css/frame.css") }}">
{% endblock %}
{% block content %}
<h1>About this service</h1>
<p class="lead">twitchbots.info is a service that tries to collect all moderator and other service bots used in chats on <a href="https://twitch.tv" rel="external noopener nofollow">Twitch</a>. It is run independently and developed as a hobby project.</p>
<p>The main reason to collect accounts that are used as bots is to identify them as bots in Twitch chat clients. Another use case is bots that distribute points, which can ignore other bots using this directory.</p>
<p>Contact us via <a href="mailto:contact@twitchbots.info">e-mail</a>.</p>
<p>Website by <a href="https://humanoids.be" rel="author noopener" title="Martin Giger">Martin Giger</a> based on <a href="https://github.com/panique/mini2" rel="external noopener">Mini2</a> and <a href="https://github.com/twbs/bootstrap" rel="external noopener">Bootstrap</a>. Source code licensed under the MIT license is available on <a href="https://github.com/freaktechnik/twitchbots/" rel="source noopener">GitHub</a>. Illustration on the start page and favicon by <a href="https://linkedin.com/in/luismuniz1" title="Luis Muñiz on Linkedin" rel="external noopener">Luis Muñiz</a>.</p>
<h2>Data Protection Policy</h2>
<p>This site uses Matomo to track visitors. You can opt-out of analytics below. The analytics include anonymized IPs and geo-ip data derived from them and are grouped by user session. Please contact us by the above information for information deletion concerning you from our analytics database.</p>

<p>Further every connection to the server this site is hosted on, certain data is logged and saved by the webhosting provider cyon in Basel, Switzerland. This data includes IP-address, operating system of the device, the data, the time of the request, the type of browser as well as the full browser-request, including the referrer. This is required for technical reasons, to provide this web site. cyon protects this data with technical and organizational measures to protect it from third party access and does not share the data with third parties. When the data is processed, it is to ensure a stable and secure service of the web site.</p>
<h2>Cookies</h2>
<p>This site uses cookies to prevent submissions other than from the form on this site and to track visitor statistics. You can opt-out of analytics below.</p>
<h2>Opt-out of analytics</h2>
<iframe src="https://humanoids.be/stats/index.php?module=CoreAdminHome&action=optOut&language=en" id="piwik-frame"></iframe>
{% endblock %}
