{% import "_panels.twig" as panels %}
{% extends "_base.twig" %}
{% block title %}{{ bot.name|e }}{% endblock %}
{% block extraresources %}
<link rel="canonical" href="https://twitchbots.info/bots/{{ bot.name|e('html_attr') }}{% endif %}">
{% endblock %}
{% block content %}
<div class="page-header">
    <h1>{{ bot.name|e }}</h1>
</div>
{{ panels.bot(bot) }}
{% endblock %}
