{% import "_panels.twig" as panels %}
{% extends "_base.twig" %}
{% block title %}Check a user{% endblock %}
{% block extraresources %}
<link rel="canonical" href="https://twitchbots.info/check">
{% endblock %}
{% block content %}
<div>
    <h1>Check a user</h1>
    <p>Get the bot status for a specific username.</p>
    <form class="input-group" method="POST">
        <input type="text" class="form-control" placeholder="Username" name="username"{% if username is not empty %} value="{{ username|e }}"{% endif %}>
        <span class="input-group-btn">
            <button type="submit" class="btn btn-primary">Check</button>
        </span>
    </form>
    {% if username is not empty %}
        {% if bot is not empty %}
            {{ panels.bot(bot) }}
        {% else %}
            {{ panels.nobot(username) }}
        {% endif %}
    {% endif %}
</div>
{% endblock %}
