{% extends "_base.twig" %}
{% block title %}Login{% endblock %}
{% block extraresources %}
<script src="https://cdn.auth0.com/js/lock/10.6/lock.min.js" type="application/javascript" integrity="sha384-XJSMxUjtDluMdQT9DahNvpGvTNQJZKtUct61eg/NwsG6iL27RPRA73Zi59QPlL9U"
 crossorigin="anonymous"></script>
{% endblock %}
{% block content %}
<h1>Login to manage Submissions</h1>
<p>{{ login }}</p>
<button class="btn btn-primary" id="login">Login</button>
<script src="{{ siteUrl('/lib/auth0.js') }}" type="application/javascript"></script>
{% endblock %}
