{% extends "_base.twig" %}
{% import "_nav.twig" as navigation %}
{% block nav %}
    {{ navigation.build('/submissions') }}
{% endblock %}
{%block content %}
<h1>Submission Queue</h1>
<dl class="dl-horizontal">
{% for s in submissions %}
    <dt>{{ s.name }}</dt>
    <dd>{{ s.description }}</dd>
{% endfor %}
</dl>
{% endblock %}
