{% extends "_base.twig" %}
{% block title %}Submissions{% endblock %}
{%block content %}
<h1>Submission Queue</h1>
<dl class="dl-horizontal">
{% for s in submissions %}
    <dt>{{ s.name|e }}</dt>
    <dd>{{ s.description|e }}</dd>
{% endfor %}
</dl>
{% endblock %}
