Options -Indexes

Header set X-Content-Type-Options "nosniff"
Header set X-XSS-Protection "1; mode=block"
Header set X-Frame-Options "DENY"
Header set Content-Security-Policy "default-src 'none'; frame-ancestors 'none'"
<If "%{HTTP_HOST} =~ /^(www\.)?twitchbots.info$/">
    SetEnv MODE production
    Header set Strict-Transport-Security "max-age=10886400; includeSubDomains; preload"
</If>
<Else>
    SetEnv MODE development
</Else>

RewriteEngine On

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://api.twitchbots.info/$1 [QSA,R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^ index.php [QSA,L]
